<div class="container">
  <h2>お知らせ</h2>
  <hr>
  <% @notifications.each do |notification| %>
    <ul class="notification-list">
      <li>
        <span class="label label-pill label-default"><%= display_read_status(notification.read) %></span>
        <p>
          <%= receive_user(notification) %>さんが
          <small class="dropdown">ブログ「<%= notification.comment.blog.title %>」のコメントしました。</small>
        </p>
        <p class="palette-paragraph text-right">
          <small class="dropdown">
            <i class="fa fa-clock-o"></i>&ensp;<%= posted_time(notification.created_at) %>
          </small>
        </p>
      </li>
      <hr>
    </ul>
  <% end %>
</div>
